[req]
distinguished_name = dn
req_extensions = req_ext
prompt = no

[dn]
CN = LOCAL_SIGNING_IDENTITY
O = Xia Zhibin Local Code Signing

[req_ext]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature
extendedKeyUsage = critical,codeSigning
subjectKeyIdentifier = hash

[leaf_ext]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature
extendedKeyUsage = critical,codeSigning
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
